.heading{
background-color: #ff9999;
padding: 8px;
font-size: 1rem;
display: flex ;
justify-content: center;
}

/* .root {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
    background-color: #b9b9b9;
    width: 2000px;
}
.gridList {
    flex-wrap: 'nowrap';
    transform: 'translateZ(0)';
    height:250px;

}

.title{
    color: #4791db,
  }
  .titleBar{
    background:
      'linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)',
  }
 */


  .row1 {
    display: flex;
    margin-top: 30px;
}

.col1 {
    flex: 76%;
  margin: 16px;
  }

.col2 {
    flex: 24%;
  
    margin: 16px;
  }
  .img{
      cursor: pointer;
      height: 300px;
      width: 350px;
  }
  .formControl{
      margin-top: 16px;
  }